/* Add your styles here */ 
body 
{ font-family: system-ui, sans-serif; 
margin: 0; 
padding: 2rem;
background-color: black;  
}

.beginGame 
{ display: block; 
color: black; 
background-color: #333; 
height: 100px; 
width: 100px; 
font-size: 20px; 
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
cursor: pointer;
}

#tabBar {
  display: none;
}

#gameArea {
  display: none;
}

.tab {
  background: #333;
  width: 75px;
  height: 40px;  
  color: white;
  border: none;
  cursor: pointer;
}

#forest {
  display: none;
}

#explore {
  display: none;
}

#inventory {
  display: none;
}

.collect {
  background-color: brown;
  cursor: pointer;
}

#makeCraftingTable {
  display: none;
}

.craft {
  background-color: #440;
  cursor: pointer;
}

#cave {
  display: none;
}

#caveTab {
  display: none;
}

#exploreButton {
  background-color: darkgreen;
}

#inventory p {
  font-size: 20px;
  color: white;
}

#craftingTable{
  display: none;
}

#craftingTab {
  display: none;
}

#makeThatch {
  display: none;
}

#huntingTab {
  display: none;
}

#fillBucket {
  display: none;
}

#mineDirt {
  display: none;
}

#mineCave {
  display: none;
}

#craftingTableT1 {
  display: block;
}

#craftingTableT2 {
  display: none;
}
