/* Add your styles here */ 
body 
{ font-family: system-ui, sans-serif; 
margin: 0; 
padding: 2rem;
}

.beginGame 
{ display: block; 
color: black; 
background-color: #333; 
height: 100px; 
width: 100px; 
font-size: 20px; 
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
cursor: pointer;
}

.beginGame:hover {
  filter: brightness(150%)
}

#tabBar {
  display: none;
  border-width: 5px;
  border-color: white;
}

#gameArea {
  display: none;
}

.tab {
  background: rgba(44, 0, 0, 255);
  width: 75px;
  height: 40px;  
  color: white;
  border-width: 5px;
  border-color: rgba(45, 0, 0, 255);
  cursor: pointer;
}

.tab:hover {
  filter: brightness(150%)
}

#forest {
  display: none;
}

#explore {
  display: none;
}

#inventory {
  display: none;
}

.collect {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
  border-color: rgb(35, 35, 35);
  border-width: 3px;
  margin: 3px;
}

.collect:hover {
  filter: brightness(150%)
}

#makeCraftingTable {
  display: none;
}

.craft {
  background-color: rgb(200, 100, 0);
  cursor: pointer;
  border-color: rgb(220, 110, 0);
}

.craft:hover {
  filter: brightness(150%)
}

#cave {
  display: none;
}

#caveTab {
  display: none;
}

#exploreButton {
  background-color: darkgreen;
  border-color: rgb(0, 140, 0);
}

#exploreButton:hover {
  filter: brightness(150%)
}

#inventory p {
  font-size: 20px;
  color: white;
}

#craftingTable{
  display: none;
}

#craftingTab {
  display: none;
}

#makeThatch {
  display: none;
}

#huntingTab {
  display: none;
}

#fillBucket {
  display: none;
}

#mineDirt {
  display: none;
}

#mineCave {
  display: none;
}

#craftingTableT1 {
  display: block;
}

#craftingTableT2 {
  display: none;
}

